<ul>
  <li><%= @employee.full_name %></li>
  <li><%= @employee.first_name %></li>
  <li><%= @employee.last_name %></li>
  <li><%= @employee.email %></li>
  <li><%= @employee.birthdate %></li>
  <li><%= @employee.ssn %></li>
</ul>


<%= link_to "Delete Me", "/employees/#{params[:id]}", method: :delete %>